<!-- <h1>Snake</h1> -->
<ng-container *ngIf="game$ | async as game">
  <h2>Points: {{game.snakePos.length - 1}}</h2>
  <h2 *ngIf="game.lost" style="color: red;">YOU LOST! <button (click)="newGame()" style="color: red; ">Wanna Retry?</button></h2>

  <app-game-field [width]="game.width" [height]="game.height" [food]="game.food">
    <app-snake [pos]="game.snakePos"></app-snake>
  </app-game-field>
  <table class="movement">
    <tr>
      <td></td>
      <td><button (click)="moveUp()"><i class="fa fa-arrow-up" aria-hidden="true"></i>Up</button></td>
      <td></td>
    </tr>
    <tr>
      <td><button (click)="moveLeft()"><i class="fa fa-arrow-left" aria-hidden="true"></i>Left</button></td>
      <td></td>
      <td><button (click)="moveRight()">Right<i class="fa fa-arrow-right" aria-hidden="true"></i></button></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="moveDown()"><i class="fa fa-arrow-down" aria-hidden="true"></i>Down</button></td>
      <td></td>
    </tr>
  </table>
</ng-container>